body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* header css start */
nav {
  padding: 20px 0;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: end;

}

.navUl {
  display: flex;
  justify-content: end;
}

.navUl li {
  margin: 0 40px;
  list-style: none;
}

.navUl li a {
  color: #0E2F44;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: .4s;

}

.navUl li a:hover {
  color: #EC971F;
}

/* header css end */
/* main part start */
/* search and display detail of main part css start */
.main {
  margin-top: 30px;
}

.search-field {
  border: none;
  border-radius: 30px;
  padding: 10px 0;
  padding-left: 30px;
  outline: none;
  width: 69%;
  margin: 0 auto;

}

.search-field:hover {
  outline: none;
  border: none;
}

.search-box {
  border: 1px solid #0E2F44;
  width: 463px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 50px;
}

#search-btn {
  padding: 20px 40px;
  border-radius: 30px;
  outline: none;
  font-size: 18px;

}

#DetailShow {
  width: 67%;
  margin: 20px auto;
  margin-left: 60px;
  border-radius: 10px;
  padding: 15px 10px;
}

/* search and display detail of main part css end*/

/* dom render items css start */
.detailImg {
  width: 100px;
  height: 100px;
}

.d-flex {
  display: flex;
  align-items: center;

}

.mLeft {
  margin-left: 15px;
}

/* dom render items css end */

/*  all products css start */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  /* border: 1px solid black; */
  text-align: center;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.single-product {
  padding: 20px;
  box-shadow: 0px 0px 3px gray;
  border-radius: 10px;
  border: 1px solid #0E2F44;
}



.product-image {
  width: 150px;
  height: 150px;
}


.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 30px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  top: 40%;

}

/*  all products css end */

/* responsive css start  */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }


}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* responsive css end  */